.StoreActivity {
  display: flex;
  flex-direction: column;
}
.StoreActivity h2 {
  color: black;
  margin-bottom: 24px;
  font-size: 28px;
  margin-top: 40px;
  font-weight: bolder;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
}
.Categories button {
  border: none;
}
.Categories {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}
.Categories div h3 {
  text-align: center;
}
.image img {
  width: 25em;
  height: auto;
  border-radius: 30%;
  padding-left: 2em;
}
