.Intro {
  height: 350px;
  width: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.Intro h2,
h1 {
  font-weight: bolder;
  color: #333;
  text-align: center;
}
.Intro img {
  align-self: flex-end;
}
.Content {
  max-width: 400px;
  font-size: 1.25em;
}
.image img {
  width: 25em;
  height: auto;
  border-radius: 30%;
  padding-left: 2em;
}
