.content {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  flex-wrap: wrap;
}
.content button {
  margin: 10px;
}
.content a {
  text-align: center;
}
.card {
  border: solid;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-flow: column nowrap;
  padding: 1em;
  margin: 1em;
  font-size: 1.5em;
}
.linor {
  background: linear-gradient(64.7deg, #ffab09, #ffab09);
  border-color: linear-gradient(64.7deg, #ffab09, #ffab09);
  border-radius: 15%;
  color: white;
  font-weight: bolder;
}
.lintl {
  background: linear-gradient(64.7deg, #1000c9, #00c98e);
  border-color: linear-gradient(64.7deg, #1000c9, #00c98e);
  border-radius: 15%;
  color: white;
  font-weight: bolder;
}
.lindkor {
  background: linear-gradient(64.7deg, #8e3232, #c96d00);
  border-color: linear-gradient(64.7deg, #8e3232, #c96d00);
  border-radius: 15%;
  color: white;
  font-weight: bolder;
}
.linpnk {
  background: linear-gradient(64.7deg, #c90000, rgba(251, 112, 144, 0.85));
  border-color: linear-gradient(64.7deg, #c90000, rgba(251, 112, 144, 0.85));
  border-radius: 15%;
  color: white;
  font-weight: bolder;
}
.card p {
  max-width: 400px;
  word-wrap: break-word;
}
.card img {
  width: 50px;
  border-radius: 25%;
}
.exercise {
  background-color: whitesmoke;
  border-color: darkorange;
  border: auto;
  border-style: solid;
  color: rgb(75, 56, 10);
}
.sleep {
  background-color: whitesmoke;
  border-color: darkorchid;
  border: auto;
  border-style: solid;
  color: rgb(72, 27, 92);
}
.nutrition {
  background-color: whitesmoke;
  border-color: darkgreen;
  border: auto;
  border-style: solid;
  color: rgb(13, 92, 92);
}
